body{
	
	background-image: url("img/img.jpg");
	/*background-repeat: no-repeat;*/
}

.container{
	max-width:700px;
	width: 80%;
	background: #ff9999;
	border: solid white 2px;
	margin: 5.5% auto;
	padding:20px 40px;
	font-family: 'Roboto Condensed', sans-serif;
	/*color: white;*/
	opacity: 0.7;
}